#testimonials {
  padding: 85px 85px;
  display: flex;
  flex-direction: column;
  gap: 76px;
  overflow: hidden;
}

.section__title {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.section__title > h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.section__title > h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57px;
  text-align: left;
}

.section__contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 42px;
}

.section__content {
  width: 380px;
  border: 1.3px solid #006b6a;
  padding: 42px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 42px;
  flex-shrink: 0;
}

.section__content > img {
  width: 155px;
}

.section__content > p {
  line-height: 24px;
  color: #1c1e53;
}

.avatar {
  align-items: center;
  display: inline-flex;
  gap: 21.3px;
}

.avatar > img {
  width: 74px;
}

.avatar__content {
  display: inline-flex;
  flex-direction: column;
  text-align: left;
}

.avatar__content > h4 {
  line-height: 24px;
  font-size: 16px;
  font-weight: 600;
}

.avatar__content > p {
  line-height: 24px;
  color: #1c1e53;
  font-weight: 400px;
}

@media screen and (max-width: 399px) {
  #testimonials {
    padding: 45px 45px;
    gap: 40px;
  }

  .section__title > h4 {
    font-size: 14px;
  }

  .section__title > h1 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
  .section__content {
    width: 200px;
  }

  .active {
    background-color: rgb(241, 241, 241);
  }
}

@media screen and (min-width: 400px) and (max-width: 639px) {
  #testimonials {
    padding: 45px 45px;
    gap: 40px;
  }

  .section__title > h4 {
    font-size: 14px;
  }

  .section__title > h1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
  .section__content {
    width: 240px;
  }

  .active {
    background-color: rgb(241, 241, 241);
  }
}

@media screen and (min-width: 640px) {
  #testimonials {
    padding: 85px 85px;
    gap: 76px;
  }

  .section__title > h4 {
    font-size: 16px;
  }

  .section__title > h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
  .section__content {
    width: 330px;
  }
}

@media screen and (min-width: 768px) {
  .section__title > h4 {
    font-size: 16px;
  }

  .section__title > h1 {
    font-size: 34px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
  .section__content {
    width: 380px;
  }
}

@media screen and (min-width: 1280px) {
  .section__title > h4 {
    font-size: 16px;
  }

  .section__title > h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
  }
  .section__content {
    width: 380px;
  }
}

@media screen and (min-width: 1536px) {
  .section__title > h4 {
    font-size: 16px;
  }

  .section__title > h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    text-align: left;
  }
  .section__content {
    width: 380px;
  }
}
